@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.nav-link, .dropdown-item{
    font-family: 'Montserrat';
    font-size: 14px;
}

.container-fluid img{
    width: 30rem;
}

nav{
    background-color: #262626;
}

.nav-item i{
    color: #FDBF15;
}

.nav-link{
    margin: 0 13px;
}

.block{
    background-color: #B48834;
    height: 13px;
}

/*CONTENT*/
.service-request-form{
    margin: 10px;
}

.header h2{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 30px;
    margin: 30px 0 30px 150px;
}

.title,
.button{
    display: inline-block;
}

.button{
    margin-left: 405px;
}

#return{
    background-color: #262626;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 14px;
    padding: 7px;
    font-weight: 600;
}

.form-content{
    background-color: #fff;
    padding: 25px;
    margin: 0 150px;
    border-radius: 7px;
    box-shadow: -5px 5px 20px #b5b5b5;
}

.form-content p{
    float: right;
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-size: 13px;
}

input, 
label,
select,
textarea{
	display: block;
    font-family: 'Montserrat';
}

label{
	text-align: left;
    font-family: 'Montserrat';
}
	
input{
	width: 287px;
}

section{
    display: flex;
}

select{
    width: 435px;
    height: 30px;
}

#department option{
    font-family: 'Montserrat';
}

.input-block,
.options{
    flex-basis: 100px;
    margin: 5px;
}

.btn-grp{
    text-align: center;
    margin-top: 30px;
}

#submit{
    background-color: #262626;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 500;
    padding: 10px 150px;
    cursor: pointer;
    font-size: 13px;
}

.upload{
    margin-left: 5px;
}

/*FOOTER*/
footer{
    background-color: #262626;
    padding: 15px;
}

.footer-content img{
    width: 15rem;
    margin-left: 10px;
}

.footer-content{
    display: flex;
}

.credits{
    font-family: 'Montserrat';
    color: #fff;
    font-size: 10px;
    text-align: right;
    position: absolute;
    right: 0px;
    margin-right: 20px;
}